#Do not print "Entering directory ..."
MAKEFLAGS += --no-print-directory

BOARD_TYPE=ralink

BUILD_DIR:=$(PWD)


export SUBMAKE:=$(MAKE)

##################################################################################################
#
#	fs_prep
#
##################################################################################################
export IMAGE_DIR                :=$(BUILD_DIR)/image
export IMAGE_ROOTFS_DIR         :=$(IMAGE_DIR)
export INSTALL_ROOT				:= $(IMAGE_DIR)
#################### end ###############################

##################################################################################################
#
#	toolchains
#
##################################################################################################
export SDK_TOOLCHAIN_PATH=$(BUILD_DIR)/toolchain
export TOOLCHAIN=buildroot-gcc463
export TOOLPREFIX=mipsel-buildroot-linux-uclibc-
export TOOLARCH=.
export TOOLPATH	:= $(SDK_TOOLCHAIN_PATH)/$(TOOLCHAIN)/$(TOOLARCH)/usr
export UBOOT_TOOLCHAIN=buildroot-gcc342
export UBOOT_TOOLPREFIX=mipsel-linux-uclibc-
export UBOOT_TOOLPATH := $(SDK_TOOLCHAIN_PATH)/$(UBOOT_TOOLCHAIN)/$(TOOLARCH)

##################################################################################################
#
#	SDK
#
##################################################################################################
export KERNEL=linux-2.6.36.x
export KERNELVER=2.6.36.x
export KERNELTARGET=vmlinux.bin
export KERNELARCH=mips
export HOST_NCPU=1

export SDK_NAME=rt288x
export SDK_DIR:=$(BUILD_DIR)/sdk
export SDK_ROOT_DIR:=$(SDK_DIR)/$(SDK_NAME)
export SDK_BUILD_DIR:=$(SDK_ROOT_DIR)/linux/kernels/$(KERNEL)
export SDK_FLAGS:=ARCH=$(KERNELARCH) CROSS_COMPILE=$(TOOLPREFIX) $(call cc-option,-Wno-unused-but-set-variable ,)

export KERNEL_CONFIG_FILE=$(CONFIG_DIR)/kernel.config

export UBOOTDIR=$(SDK_ROOT_DIR)/boot/u-boot_sdk5020
export UBOOT_CONFIG_FILE=$(CONFIG_DIR)/uboot.config
export UBOOT_HEADER_FILE=$(CONFIG_DIR)/uboot_autoconf.h
export UBOOT_COPY_DIR=$(UBOOTDIR)/u-boot_sdk5020
export UBOOT_FILE=uboot.bin

##################################################################################################
#
#	MTK sdk apps path
#
##################################################################################################
export SDK_APPS_LIB_PATH=$(SDK_ROOT_DIR)/libs/rt288x

export SDK_APPS_PATH=$(SDK_ROOT_DIR)/apps


#define for some host tool
FAKEROOT=$(SDK_TOOLCHAIN_PATH)/fakeroot
LZMA_BIN=$(SDK_TOOLCHAIN_PATH)/lzma
MAKE_SQUASHFS=$(SDK_TOOLCHAIN_PATH)/mksquashfs
PAD=$(SDK_TOOLCHAIN_PATH)/pad

SHELL_PATH=/bin/bash
CP:=cp -fpR
LN:=ln -sf
INSTALL_BIN:=install -m0755
INSTALL_DIR:=install -d -m0755
INSTALL_DATA:=install -m0644
INSTALL_CONF:=install -m0600

export ORIGINAL_PATH:=$(PATH)
export PATH:=$(ORIGINAL_PATH):$(TOOLPATH)/bin:$(RPT_TOPDIR)/util
export LD_LIBRARY_PATH:=$(TOOLCHAIN_ROOT_DIR)/lib:$(TOOLPATH)/$(TOOLPREFIX)/sysroot/lib
