Package: base-files
Version: 151-unknown
Depends: netifd, libc, procd
Provides: 
Source: ibase/base-files
Section: base
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: model_mtk_mt76xx
Installed-Size: 26945
Description:  This package contains a base filesystem and system scripts for OpenWrt.
