*.o
*.a
*.so.*
*.so
.config*
config.config
extra/config/conf
extra/config/lex.zconf.c
extra/config/lkc_defs.h
extra/config/mconf
extra/config/zconf.tab.c
extra/config/zconf.tab.h
include/asm
include/asm-generic
include/bits/
include/fpu_control.h
include/linux
include/sgidefs.h
include/sys/asm.h
include/sys/cachectl.h
include/sys/fpregdef.h
include/sys/procfs.h
include/sys/ptrace.h
include/sys/regdef.h
include/sys/sysmips.h
include/sys/tas.h
include/sys/ucontext.h
include/sys/user.h
/lib

